#root {
  margin: 0 auto 50px auto;
  text-align: center;
  font-family: Gilroy;
  background-color: var(--white-bg);

  --blue-1: #031739;
  --blue-2: #02204c;
  --blue-3: #03386d;
  --blue-4: #055b95;
  --blue-5: #055b95;
  --yellow-1: #fda604;
  --yellow-2: #ffb806;
  --yellow-3: #fec905;
  --white-bg: #fefefe;
  --off-white: #f5f5f5;
  /* background-color: red; */
  --shadow-color: #00000040;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
}
.blue{
  color: #032D64;
}
.red{
  color: #FF0000;
}

.App {
  width: 100%;  
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Gilroy Italic";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Poppins/Poppins-Italic.ttf") format("woff2");
}
.absolute-mark{
  position: absolute;
  width: 22px;
  height: 22px;
  bottom: -2px;
  right: -2px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}